{% extends 'main/base.html'%}
{% block content %}

<!-- Shop Page Start  -->
<div class="container">
    <br>
<h2>Search Result:</h2>
    {% if product|length < 1%}
    <p>No Product Found</p>
    {% endif %}
</div>
    <div class="shop-category-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Shop Bottom Area Start -->
                <div class="shop-bottom-area">
                    <!-- Tab Content Area Start -->
                    <div class="row">
                        <div class="col">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="shop-grid">
                                    <div class="row mb-n-30px">
                                        {% for i in product %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                        <span class="badges">
                                                        <span class="new">{{i.condition}}</span>
                                                        </span>
                                                <div class="thumb">
                                                    <a href="single-product.html" class="image">
                                                        <img src="/{{i.image}}" alt="Product"/>
                                                        <img class="hover-image"
                                                             src="/{{i.image}}" alt="Product"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <span class="category"><a href="#"></a>{{i.Categories}}</span>
                                                    <h5 class="title"><a href="single-product.html">{{i.name | truncatewords:10}}
                                                    </a>
                                                    </h5>
                                                    <span class="price">
                                                            <span class="new">${{i.price}}</span>
                                                            </span>
                                                </div>
                                                <div class="actions">
                                                    <button title="Add To Cart" class="action add-to-cart"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal-Cart">
                                                        <i
                                                                class="pe-7s-shopbag"></i></button>
                                                    <button class="action wishlist" title="Wishlist"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal-Wishlist"><i
                                                            class="pe-7s-like"></i></button>
                                                    <button class="action quickview" data-link-action="quickview"
                                                            title="Quick view" data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal"><i class="pe-7s-look"></i>
                                                    </button>
                                                    <button class="action compare" title="Compare"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal-Compare"><i
                                                            class="pe-7s-refresh-2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}

                                    </div>
                                    <div class="tab-pane fade mb-n-30px" id="shop-list">
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/1.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/1.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Modern Smart
                                                                Phone</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/2.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/2.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                <span class="new">New</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Bluetooth
                                                                Headphone </a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/3.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/3.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="new">Sale</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Smart Music
                                                                Box</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/4.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/4.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Air Pods
                                                                25Hjkl Black</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/5.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/6.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Smart Hand
                                                                Watch</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/7.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/7.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Smart Table
                                                                Camera</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/8.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/8.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Round Pocket
                                                                Router</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/1.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/1.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Power Bank
                                                                10000Mhp</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/2.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/1.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Power Bank
                                                                10000Mhp</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$58.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/3.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/3.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Modern Smart
                                                                Phone</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/4.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/5.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="new">Sale</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Bluetooth
                                                                Headphone </a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shop-list-wrapper mb-30px">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="assets/images/product-image/6.webp"
                                                                     alt="Product"/>
                                                                <img class="hover-image"
                                                                     src="assets/images/product-image/7.webp"
                                                                     alt="Product"/>
                                                            </a>
                                                            <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                <span class="new">New</span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-7 col-xl-8">
                                                    <div class="content-desc-wrap">
                                                        <div class="content">
                                                            <span class="category"><a href="#">Accessories</a></span>
                                                            <h5 class="title"><a href="single-product.html">Smart Music
                                                                Box</a></h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmodol tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim veni quis nostrud
                                                                exercitation ullamco laboris </p>
                                                        </div>
                                                        <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                                            <div class="actions">
                                                                <button title="Add To Cart" class="action add-to-cart"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Cart"><i
                                                                        class="pe-7s-shopbag"></i></button>
                                                                <button class="action wishlist" title="Wishlist"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Wishlist"><i
                                                                        class="pe-7s-like"></i></button>
                                                                <button class="action quickview"
                                                                        data-link-action="quickview" title="Quick view"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal"><i
                                                                        class="pe-7s-look"></i></button>
                                                                <button class="action compare" title="Compare"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal-Compare"><i
                                                                        class="pe-7s-refresh-2"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content Area End -->


                        {% endblock %}